
html{
   overflow-y: hidden;
}

#outer-dropzone {
  height: 100%;
  border-radius: 0px;
  position: absolute;
  z-index:-1;
  right: 0px;
  width: 74%;
  margin-right: 5px;
  overflow-y: scroll;
}

#inner-dropzone {
  height: 750px;
  width: 563px;

  background-color: #ECF0F1;
  border-radius: 0px;
  margin-right: 20%;
  overflow-y: hidden;
}

.dropzone {
  background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 5px auto 30px;
  padding: 10px;
  width: 100%;
  transition: background-color 0.3s;
  float: right;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;

  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}

#drag-1, #drag-2 {
  width: 25%;
  height: 100%;
  min-height: 6.5em;
  margin: 10%;
  background-color: #29e;
  color: white;

  border-radius: 0.75em;
  padding: 4%;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}


.side-menu{
  height: 100%;
  border: 1px solid #ABB7B7;
  position: absolute;
  left: 0;
  width: 25%;
  background-color: #ECECEC;
}

.form-container{
    height: 100%;
  position: fixed;
  right: 0;
}

.print-btn{
  position: absolute;
  right: 30px;
  top: 15px;
  width: 100px;
  border-radius: 0px;
}

.delete-item{
  position: absolute;
  right: 5%;
  bottom: 15px;
  width: 100px;
  padding: 10px;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.delete-item:hover{
  font-size: 30px;
  -webkit-transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  -ms-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  transition: all 700ms ease;
}