
    <div class="col-md-3 side-menu">
	    <span><strong><h2>Component box</h2></strong></span>
		<div id="no-drop" class="draggable drag-drop item"> #no-drop </div>
		<div id="yes-drop" class="draggable drag-drop item"> #yes-drop </div>
		<header-component ></header-component>

    </div>
	<div id="outer-dropzone" class="paperbg">
	    <div id="inner-dropzone" class="dropzone">Letter Sized Paper</div>
    </div>

 <button class="btn btn-primary print-btn">
 	Print
 </button>

 <span class="delete-item">
 	<i class="fa fa-trash fa-4x" aria-hidden="true"></i>
 </span>
